
@font-face {
    font-family: Montresor; 
    src: url(../Fonts/Montresor.ttf); 
}

body {
    background: url(../images/main.jpg) center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Comic Sans MS', cursive;
}

#subLogo {
    margin-right: 1%; 
    float: left;
}

#subLogoSecond {
    margin-right: 1%; 
    float: left;
}

.btn-wrap-normal {
    white-space: normal;
}

.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.thumb {
    padding: 5px;
}

mark {
    background-color:  transparent;
}





/* body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(44,91,110,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(44,91,110,1) 0%, rgba(28,59,71,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(44,91,110,1)), color-stop(100%, rgba(28,59,71,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(44,91,110,1) 0%, rgba(28,59,71,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(44,91,110,1) 0%, rgba(28,59,71,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(44,91,110,1) 0%, rgba(28,59,71,1) 100%);
    background: radial-gradient(ellipse at center, rgba(44,91,110,1) 0%, rgba(28,59,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c5b6e', endColorstr='#1c3b47', GradientType=1 );
} 

.toggleNews{
    width: 75px;
    height: 32px;
    background: rgba(255,255,255,.4);
    border: 2px solid #fff;
    border-radius: 18px;
    position: relative;
    top: 40%;
    left: 27%;
}

.toggleItem{
    display: block;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #fff;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: left .5s ease-out;
}

 

@keyframes move{
     0% {
         width: 26px;
         height:26px;
         top:3px;
     }
     30% {
         width: 46px;
         height:16px;
         top:8px;
     }
     100% {
         width:26px;
         height:26px;
         top:3px;
     }
 }
@keyframes moveL{
    0% {
        width: 26px;
        height:26px;
        top:3px;
    }
    40% {
        width: 46px;
        height:16px;
        top:8px;
    }
    100% {
        width:26px;
        height:26px;
        top:3px;
    }
} */
